body {
    background-color: lightgray;
    font-family: sans-serif;
}

a:link {
    text-decoration: none;
    color: #0dbf9f;
}

a:visited {
    text-decoration: none;
    color: #0dbf9f;
}

a:hover {
    text-decoration: none;
    color: #0a8f77;
}

.frame {
    padding: 16px 16px 16px 16px;
    background: #fafafa;
    margin: 24px 24px 24px 24px;
    overflow: auto;
}

#about {
    height: auto;
}

#quote {
    font-size: 14px;
    font-style: oblique;
}

#wrap {
    width: 100%;
}

.active {
    background-color: #0dbf9f;
  }

  button {
    background-color: hsla(0, 0%, 98%, 0);
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid #0dbf9f;
  }

  button:hover {
      background-color: #0dbf9f;
    color: #fafafa;
    cursor: pointer;
  }

/*
========================================
Grid
========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 960px;
    width: auto;
    background-color: hsla(0, 0%, 98%, 0.55);
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    }

/*
========================================
Typography
========================================
*/

h1, h3, h4, h5, p {
margin-bottom: 22px;
margin-left: 12px;
margin-right: 12px;
}

/*
========================================
Nav Bar Buttons
========================================
*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

a.nav:hover {
    background-color: #111;
}

nav {
    color: #fafafa0f;
}
.nav-container {
    border-radius: 16px;
}